/* Page3 login start */
.login{
    width: 300px;
    margin: 50px auto;
}
.title{
    text-align: center;
    border-bottom: 3px solid rgb(243, 108, 49);
    h2{
        font-size: 3em;
        font-weight: 500;
        font-family: "Noto Sans TC", sans-serif;
        margin-bottom: 5px;
    }
    h3{
        font-size: 1.25em;
        font-weight: 400;
        font-family: "Noto Sans TC", sans-serif;
        margin-bottom: 35px;
    }
}
.login-inputs{
        padding: 15px;
        box-shadow: 5px 5px 7px hsla(0, 0%, 0%, 0.2);
        .forgot-password{
            margin-top: 5px;
            font-size: 0.85em;
            color: rgb(243, 108, 49);
            font-weight: 300;
            margin-bottom: 30px;
        }
        h4{
            text-align: center;
            font-size: 1.125em;
            font-weight: 500;
            margin-bottom: 16px;
        }
        .mail-box{
            /* 在input中加入Fontawesome icon start*/
            position: relative;
            margin-bottom: 15px;
            input{
                text-indent: 20px;
                width: 270px;
                height: 32px;
                margin-top: 3px;
                border-radius: 5px;
                border: 1px solid gray;
            }
            i{
                position: absolute;
                top: 11px;
                left: 5px;
            }
        }
        .password-box{
            position: relative;
            input{
                text-indent: 20px;
                width: 270px;
                height: 32px;
                margin-top: 3px;
                border-radius: 5px;
                border: 1px solid gray;
            }
            i{
                position: absolute;
                top: 11px;
                left: 5px;
                /* 在input中加入Fontawesome icon end*/
            }
        }
}
.input-buttons{
        display: flex;
        justify-content: space-between;
        button{
            width: 125px;
            height: 32px;
            color: white;
            border-radius: 5px;
        }
        .to-register{
            border: 1px solid rgb(155, 151, 150);
            background-color: rgb(155, 151, 150);
        }
        .submit{
            border: 1px solid rgb(243, 108, 49);
            background-color: rgb(243, 108, 49);
        }
}
/* Page3 login end */