@mixin header-iphone14ProMax{
    @media (max-width: 430px) {
        background-image: url(https://gsrm1.github.io/Hsu-project1-restaurant/images/header_mobile.png);
        background-size: 600px 420px;
        h1{
            margin: 15px;
            font-size: 1.2em;
        }
        // RWD menu 定位與隱藏
        .menu ul{
            position: absolute;
            top: 56px;
            right: 0px;
            max-height: 0px;
            overflow: hidden;
            border-bottom: 2px solid orange;
            border-radius: 0px 0px 5px 5px;
            transition: max-height 1.5s;
            z-index: 100;
            background-color: hsla(0, 0%, 0%, 0.7);
        }
        // jQ用展開menu
        .menu-show .menu ul{
            max-height: 100px;
        }
        // RWD menu jQ動態展開
        .menu-hamburgerIcon{
            position: absolute;
            font-size: 1.2em;
            border: 1px solid orange;
            text-align: center;
            line-height: 37px;
            width: 80px;
            height: 40px;
            top: 10px;
            right: 20px;
            display: block;
            a{
                color: white;
            }
        }
        .content{
            h3{
                font-size: 1.9em;
            }
        }
    @content     
    }
};
@mixin footer-iphone14ProMax{
    @media (max-width: 430px) {
            padding: 20px 0px 0px 0px;
            flex-direction: column;
            .content1, .content2, .content3{
                width: 90%;
                margin: 0px auto 30px auto;
            }
    @content
    }
};
@mixin footer-ipad{
    @media (max-width:768px) {
            .content3{
            h2{
                font-size: 2.5em;
            }
        }
    @content
    }
};
@mixin goToTop-iphoneSE{
    @media (max-width: 375px) {
            font-size: 1.5em;
    @content
    }
};
@mixin index-article1-iphone14ProMax{
    @media (max-width: 430px) {
        .content1 span:before, .content1 span:after {/* 取消畫左右橫線中間文字效果 */
            display: none;
        }
        .content2{
            > ul{
                flex-wrap: wrap;
                margin-bottom: 0px;
            }
            .sub-content{
                width: 80%;
                margin-bottom: 30px;
            }
        }
    @content
    }
};
@mixin index-article2-iphone14ProMax{
    @media (max-width: 430px) {
        ul{
            flex-direction: column;
            li{
                width: 80%;
            }
        }
    @content
    }
};
@mixin index-article3-iphone14ProMax{
    @media (max-width: 430px) {
        .content2{
            > ul{
                flex-wrap: wrap;
            }
            .sub-content{
                width: 90%;
           }
        }
    @content
    }
};
@mixin index-article4-iphone14ProMax{
    @media (max-width: 430px) {
        .content2{
            > ul{
                flex-direction: column;
            }
            .map{
                height: 386px;
                margin-bottom: 10px;
            }
            .sub-content{
                width: 98%;
            }
        } 
    @content
    }
};

@mixin foodOrder-ipad{
    @media (max-width: 768px) {
        .search-and-cart{
            ul{
                margin-right: 0px;
            }
        } 
        .food-list{
            .sub-content{
                width: 48%;
            }
        } 
        .food-menu{
            h2{
                font-size: 1em;
            }
            h3{
                font-size: 0.8em;
            }
        }
    @content
    }
};

@mixin foodOrder-iphone14ProMax{
    @media (max-width: 430px) {
        flex-direction: column;
        .food-menu{
            width: 100%;
            font-size: 1.3em;
        }
        .container{
            width: 100%;
            .search-and-cart{
                > ul{
                    flex-direction: column;
                    align-items: end;
                }
                .search{
                    width: 100%;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    input{
                        width: 87%;
                    }
                }
            }
        }
        .food-list{
            .sub-content{
                width: 100%;
            }
        }
    @content
    }
};

@mixin register-iphone14ProMax{
    @media (max-width: 430px) {
        .title{
            margin: 0 auto;
            max-width: 320px;
        }
        .container{
            margin: 0 auto;
            max-width: 320px;
        }
        .content{
            flex-direction: column;
        }
        .content{
            .sub-content{
                width: 100%;
                margin-bottom: 20px;
            }
        } 
    @content
    }

}







