/* 通用設定 start*/
*, *::before, *::after{
    box-sizing: border-box;
}
body{
    color: #3D1101;
    font-size: 16px;
    font-weight: 100;
    font-family:  "Microsoft JhengHei", "Noto Sans TC", sans-serif;
}
.wrap{
    max-width: 1024px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    display: block;
    color: #3D1101;
}
button{
    cursor: pointer;
}
i{
    font-style: italic;
    font-weight: 600;
}
input:hover{
    box-shadow: 0 0 10px rgb(249, 218, 160);
}
input:focus{
    background-color: rgb(249, 218, 160);
}
/* 通用設定 end */